.container{
    margin: 100px auto;
    width: 50% !important;
}
.searchList{
    width: 300px;
    height: auto;
    font-size: 20px;
    color: black;
}
.searchList a{
    font-family: Work Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.searchEntry{
    color: #57952c !important;
    padding: 2px;
    /*background:  #400ccc;*/
}
.searchBar{
    margin-bottom: 50px !important;
}
.user-mat-table{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
/*-============== Table ===========-*/
.customized-table-container{
    margin-top: 100px;
}
.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #000000;
}
.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #000000;
    color: #333;
    background-color: #fff;
}
.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #000000;
    color: #333;
    background-color: #f0f0f0;
}
.tg .tg-ycr8 {
    background-color: #ffffff;
    text-align: left;
    vertical-align: top;
}
.tg .tg-a02x {
    font-size: 100%;
    background-color: #ffffff;
    text-align: left;
    vertical-align: top;
}
.tg .tg-i81m {
    background-color: #ffffff;
    text-align: center;
    vertical-align: top;
}
.first-col{
    font-weight: bold !important;
}
