.container{
    margin: 0 auto;
    width: 50% !important;
}
.searchList{
    width: 200px;
    height: 200px;
    font-size: 20px;
    /*border: 1px solid gray;*/
    color: black;
}
.searchList a{
    text-decoration: none;
}
.searchEntry{
    color: #57952c !important;
}
.searchBar{

}
